:root{
    --colorPrincipal:#09a330;
    --blanco:#fff;
}
*{
    margin: 0;
    padding:0;
    font-family: "Segoe UI", Helvetica, Arial;
}
.header{
    background-color:var(--blanco);
    border-top: 4px solid var(--colorPrincipal);
    border-bottom: 1px lightgray solid;
    padding: .6em 3em;
    display:flex;
    justify-content:space-between;
}
.header_logo{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 1.5em;
}
/*Animacion Girar logo react*/
.header_logo img {
    /*tiempo nombre iteracion direccion*/
    animation: 8s rebote infinite linear;
    width: 64px;
  }
  
  @keyframes rebote {
      30%{
          transform: rotate(1turn);
      }
      100%{
          transform: rotate(0turn);
      }
    /* 0% {
      transform: rotate(90deg);
    }
    33% {
      transform: rotate(360deg);
    }
    66% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    } */
  }
.header_navbar{
    display:flex;
    align-items:center;
    justify-content: center;
}
.header_navbar ul{
    display:flex;
    align-items:center;
}
.header_navbar ul>li{
    list-style:none;
    padding: 1em .5em;
}
.header a{
    color: #444;
    text-decoration: none;
}
.header_navbar ul>li a:hover{
    color: var(--colorPrincipal);
}
.slider{
    font-size:15px;
    height:20em;
    width: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;

    background: rgb(103,230,135);
    background: radial-gradient(circle, rgba(103,230,135,1) 0%, rgba(9,163,48,1) 67%, rgba(9,163,48,1) 100%);
}
.slider h1{
    margin: auto;
    text-align: center;
    color: var(--blanco);
    text-shadow: 0px 0px 5px #444;
    display:flex;
}
.btn{
    display: block;
    width:auto;
    padding: 0 1em;
    height:3em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    margin:1.5em;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px #444;
    text-transform: uppercase;
}
.btn_slider{
    background: var(--blanco);
    color: rgb(99, 99, 99);
}
.btn_slider:hover{
    color: white;
    background-color:#444;
}
.hero{
    display: flex;
    padding: 3em;
    text-align: center;
}
.hero_articulos{
    width: 70%;
    min-height: 28em;
}
.subheader{
    font-size: 2.5em;
}
.article_item{
    display: flex;
    margin-top: 3em;
    gap: 1.5em;
}
.article_imageWrap{
    width: 25%;
}
.article_imageWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*centrar imagen*/
}
.article_item_description{
    width: auto;
    text-align: left;
}
.article_item_description a{
    display: block;
    text-decoration: none;
    color:#595959;
    padding-top: 1em;
}
.article_date{
    color: gray;
}
.article_item_description a:hover{
    text-decoration: underline;
}
.hero_sidebar>div{
    background: #f1f1f1;
    padding:1.5em;
    margin: 1em;
}
.hero_sidebar h3{
    text-transform: uppercase;
    margin-bottom: 1.5em;
}
.sidebar_btn_create{
    background: rgb(23,150,19);
    color: white;
    max-width: 70%;
    margin: 1em auto; 
}
input[type="text"],textarea{
    height: 3em;
    width: 100%;
    margin-top:1em;
    border: 1px solid gray;
}
input[type="submit"]{
    background-color: #000;
    color: white;
    margin:1.2em auto;
    font-size: 1em;
}
textarea{
    min-height: 10em;
    max-height: 17em;
    max-width: 100%;
    min-width: 100%;
    transition: 300ms all;
}
label{
    display: block;
    text-align: left;
    margin-top: 1em;
}
.formulario{
    width: 70%;
    margin: 0 auto;
}
.formulario .sidebar_btn_create{
    margin: 1.5em 0;
    background: rgb(23,150,19);
    color: white;
}
.radiobuttons{
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.radiobuttons input{
    margin-left:1.5em;
    margin-right: .5em;
}
footer{
    text-align: center;
    color: #f1f1f1;
    /* background: #00d8ff; */
    height: 3em;
    text-shadow: 0px 0px 1px #444;
    line-height: 3em;
    font-weight: 500;
    margin-top: 9vh;

    background: rgb(103,230,135);
    background: radial-gradient(circle, rgba(103,230,135,1) 0%, rgba(9,163,48,1) 67%, rgba(9,163,48,1) 100%);
}
.container{
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    flex-direction: inherit;
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*Detail*/
.article_item_detail{
    flex-wrap: wrap;
    text-align: initial;
    margin-top: 0;
}
.article_item_detail .article_imageWrap{
    width: 100%;
    height: 16em;
}
.article_item_detail p{
    margin: 1em auto;
}
.article_item_detail h1{
    font-size: 1.8em;
    margin-bottom: .8em;
}
@media (max-width: 768px){
    .header{
        font-size:12px;
    }
    .subheader{
        font-size:1.7em;
    }
    .slider{
        font-size: 12px;
    }
    .hero{
        display: block;
        padding:1.2em;
    }
    .hero_sidebar{
        width:70%;
        margin: 4em auto;
    }
    .hero_articulos{
        width: 100%;
    }
    footer{
        margin-top: 0;
    }
}
@media (max-width: 480px){
    .header{
        display:block;
        font-size: initial;
    }
    .hero_sidebar{
        width: 100%;
        font-size: 13px;
    }
    .article_imageWrap{
        width: 35%;
    }
    .article_item{
        font-size: 13px;
    }  
}
@media (max-width:320px) {
    .hero{
        font-size: 9px;
        padding:0 1em;
    }
    .container{
        font-size:13px;
    }
    .slider h1{
        font-size: 1.7em;
    }
    .article_item{
        font-size: 10px;
    } 
    footer p{
        font-size:9px ;
    } 
}
    